<div class="container-scroller">
    <div class="content-wrapper">
        <div class="website-info mt-4 p-3 border rounded">
            <h3 class="text-center text-primary">Trung tâm hỗ trợ IT-Center</h3>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled text-center">
                <br>
                <img src="images/ITCenter-Banner.png" style="border-radius: 20%; width: 30%;"
                     class="p-3" alt="ItCenterLogo">
                <br>
                <li><strong>Version:</strong> 1.0</li>
                <li><strong>Ngôn ngữ phát triển:</strong> ExpressJS</li>
            </ul>
        </div>
    </div>
</div>
